:root{
    --main-title-color: #FFFFFF;
    --text-color: #2E2F42;
    --third-tittle-color: #4d5ae5;
    --body-color:#434455;
    --focus-hover-color:#404bbf;
    --footer-text-color:#F4F4FD;
    --btn-color:#E7E9FC;
}
p,h1,h2,h3,h4,h5,h6{
margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
}
img{
    display: block;
}
header{
    padding-top: 24px;
}
body {
    font-family: 'Roboto', sans-serif;
    background: var(--main-title-color);
    color: var(--body-color);
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.container{
 width: 1158;
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
 outline: 2px solid red;   
}
.header-container{
    display: flex;
    align-items: center;
}
.header-navigation{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-link:hover{
color: var(--focus-hover-color);
}
.header-link:focus{
color: var(--focus-hover-color);
}

.studio-text{
    color: var(--text-color);    
}
.header-logo  {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--third-tittle-color);
text-decoration: none;
margin-right: 76px;
}
.header-list{
    display:flex;
}
.header-item {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-color);
margin-right: 40px;
 }
 .header-item:last-child{
    margin-right: 0;
 }
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.link{
    text-decoration:none;
}
.header-address {
    font-style: normal;
}
.header-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color) ;    
}

.header-contact:hover{
    color: var(--focus-hover-color);
}
.header-contact:focus{
    color: var(--focus-hover-color);
}

.first {
    background: var(--text-color);
    padding-top: 120px;
    padding-bottom: 120px;
}
.first-tittle {
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--main-title-color);
}
.first-button {
    font-family: "Roboto", sans-serif;
    background: var(--third-tittle-color);
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--main-title-color);
cursor: pointer;
padding: 16px 32px 16px 32px;
}
.first-button:hover{
    background-color:var(--focus-hover-color);
}
.first-button:focus{
    background-color: var(--focus-hover-color);
}
.btn{
    background: var(--footer-text-color);
border: 1px solid var(--btn-color);
border-radius: 4px;
cursor: pointer;
}
.btn:hover{
    background: var(--focus-hover-color);
}
.btn-text:hover{
    color:var(--main-title-color);
}
.btn:focus{
    background: var(--focus-hover-color);
}
.btn-text:focus{
    color:var(--main-title-color);
}
.btn-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color:var(--third-tittle-color);
}
.picture-list{
    padding-top: 72px;
    padding-bottom: 120px;
}
.button-list{
    padding-top: 96px;
}
.second{
    padding-top: 120px;
    padding-bottom: 120px;
}
.second-list{
    display: flex;
}
.second-category {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--text-color);
}
.second-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-color);
}
.third{
    padding-top: 120px;
    padding-bottom: 120px;
}
.list{
    display: flex;
}
.third-tittle, .fourth-tittle {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--text-color);
}
.fourth {
    background-color: var(--footer-text-color);
    padding-top: 120px;
    padding-bottom: 120px;
}
 
.fourth-list {
    background-color:var(--main-title-color);
    display: flex;
}
.fourth-item {
    background-color: var(--main-title-color);
}
.fourth-name, .picture-tittle {
    background-color:var(--main-title-color);
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--text-color);
}
.fourth-text, .picture-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--body-color);

}
.footer{
    background: var(--text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo  {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-tittle-color);
text-decoration: none;
}
.studio-color{
    color: var(--footer-text-color);
    }

.footer-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--footer-text-color);
}